<section class="section"></section>

<div class="card" style="margin-left:30em;margin-right:30em">
    <div class="card-content is-center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
            <p class="control">
                <label class="label">
                    <%= f.label :username %><br/>
                    <%= f.text_field :username, autofocus: true %>
                </label>
            </p>
        </div>

        <div class="field">
            <p class="control">
                <label class="label">
                    <%= f.label :email %><br/>
                    <%= f.email_field :email %>
                </label>
            </p>
        </div>

        <div class="field">
            <p class="control">
                <label class="label">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %>
                        characters minimum)</em>
                    <% end %><br/>
                    <%= f.password_field :password, autocomplete: "off" %>
                </label>
            </p>
        </div>

        <div class="field">
            <p class="control">
                <label class="label">
                    <%= f.label :password_confirmation %><br/>
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </label>
            </p>
        </div>

        <div class="field is-grouped">
            <p class="actions">
                <%= f.submit "Sign Up", class: "button is-primary" %>
            </p>
        </div>
        <% end %>

        <div class="field">
            <p class="control">
                <%= render "devise/shared/links" %>
            </p>
        </div>
    </div>
</div>

<section class="section"></section>
