<p id="notice"><%= notice %></p>

<h1>Topics</h1>
<div class="panel panel-default">
<table class="table">
  <tr>
    <th width="70%">Topic</th>
    <th width="30%">Last Post</th>
  </tr>
  <% for topic in @topics%>
    <tr>
      <td><h4><%= link_to h(topic.name), topic_path(topic.id) %></h4>
        <small><%= topic.posts.count %> posts</small><br />

        <td class="right">
          <% if topic.most_recent_post %>
            <%= time_ago_in_words(topic.most_recent_post.created_at)%> ago            </body>
            <% else %>
            no posts
            <% end %>
          </td>

      <td><%= link_to "Show", topic, class: "btn btn-default" %></td>
      <td><%= link_to "Edit", edit_topic_path(topic), class: "btn btn-default" %></td>
      <td><%= link_to "Delete", topic, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>
</div>

<br>

<%= link_to 'New topic', new_topic_path %>
