<section></section>
<h1 class="title">TOPIC: <%= @topic.name  %></h1>

<div class="container">
    <div class="box">
        <div class="hero">
            <table class="table is-striped">
                <% for post in @topic.posts %>
                <tr>
                    <td><%= post.content %>
                        <br><br>
                        <p style="font-style: italic"><%= "By #{post.user.username} #{time_ago_in_words(post.created_at)} ago"%>
                            <% unless post.updated_at == post.created_at %>
                            <%= ", Edited #{time_ago_in_words(post.updated_at)} ago"%>
                            <% end %>
                        </p>
                        <td class="right"></td>
                        <td><%= link_to "Edit", edit_post_path(post), class: "btn btn-default" %></td>
                    </td>
                </tr>
                <% end %>
            </table>
            <p><%= link_to "New reply", "/posts/new?topic=#{@topic.id}", class: "button is-success" %></p>
        </div>
    </div>
</div>
<br>
