<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item">
                <%=  image_tag "/assets/Gititgotit_logo.png", height: '72', width: '72' %>
            </a>
            <a class="nav-item is-tab is-active" href="/">Home</a>
            <% if user_signed_in? %>
              <%= link_to('Dashboard', pages_dashboard_path, class: "nav-item is-tab")  %>
              <%= link_to('Find Collaborators', pages_users_path, class: "nav-item is-tab")  %>
            <% end %>
        </div>

        <div class="nav-right nav-menu">
            <% if user_signed_in? %>
                <%= link_to('Forum', forums_path, class: "nav-item is-tab")  %>
                <a class="nav-item is-tab">
                    <figure class="image is-16x16" style="margin-right: 8px;">
                        <%= image_tag(Gravatar.new("#{current_user.email}").image_url)%>
                    </figure>
                    Profile
                    <!-- add link to user dashboard -->
                </a>
                <%= link_to('Logout', destroy_user_session_path, class: "nav-item is-tab", :method => :delete) %>
            <% else %>
                <%= link_to('Sign Up', new_user_registration_path, class: "nav-item is-tab")  %>
                <%= link_to('Login', new_user_session_path, class: "nav-item is-tab")  %>
            <% end %>
        </div>
    </div>
</nav>
