<section></section>
<h1 class="title">CURRENT PROJECTS</h1>

<table>
    <thead>
        <tr>
            <th colspan="1"></th>
        </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <article class="media" style="padding: 1em;">
            <figure class="media-left">
                <p class="image is-256x256">
                    <%=  image_tag "/assets/ruby.png" %>
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <strong><%= project.title %></strong>
                    <small><%= project.user.username %></small>
                    <br>
                    <p><%= project.description %></p>
                    <strong>Status:
                        <%= project.status %>
                    </strong>
                    <p>
                        <small>
                            Start date:<%= project.start_date %>
                        </small>
                    </p>
                    <%= link_to 'Show', project, class: "button is-primary"%>
                    <i class="fa fa-star button is-primary stars" aria-hidden="true"> <%= project.ratings %></i>
                    <i class="fa fa-users button is-primary stars" aria-hidden="true"> <%= @collaborators.where(:project_id => project.id, :approved => true).count %></i>
                </div>
            </div>
        </article>
        <% end %>
    </tbody>
</table>

<br>
