<div class="container">
    <div class="box">
        <%= form_for(post) do |f| %>
        <% if post.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %>
                prohibited this post from being saved:</h2>
            <ul>
                <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <div class="field">
            <%= f.label :content %>
            <%= f.text_area :content, class:"box", :cols => 80, :rows => 20 %>
        </div>

        <% if params[:topic] %>
        <input type="hidden" id="post_topic_id" name="post[topic_id]" value="<%= params[:topic] %>"> </input>
        <% end %>

        <div class="actions">
            <%= f.submit%>
            <%= link_to 'Back', topics_path %>
        </div>
        <% end %>
    </div>
</div>
