<!DOCTYPE html>
<html>
  <head>
    <title>Gititgotit</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/3ee0697bf2.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/nav' %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
